*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:url("background.jpg");
    background-size:cover;
    background-position:center;
}

.login-box{

    width:90%;
    max-width:420px;
    transition:.4s;

    padding:30px;

    border-radius:20px;

    backdrop-filter:blur(10px);

    background:rgba(255,255,255,.18);

    border:1px solid rgba(255,255,255,0.3);

    color:white;
}

.login-box:hover{

transform:

translateY(-5px)

scale(1.02);

box-shadow:

0 0 45px rgba(255,255,255,.35);

}

.login-box h1{

    text-align:center;

    margin-bottom:25px;
}

.login-box input,
.login-box select{

    width:100%;

    margin-bottom:15px;

    padding:14px;

    border:none;

    border-radius:10px;

    outline:none;

    font-size:16px;
}

.login-box button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:18px;

    font-weight:bold;
}

.login-box p{

    text-align:center;

    margin-top:15px;

    font-size:14px;
}

.live-clock{
    position: fixed;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    z-index: 999;
}


.login-box{

opacity:0;

transform:translateY(50px) scale(.95);

animation:loginAnimation 1.2s ease forwards;

box-shadow:
0 0 30px rgba(255,255,255,.15);

}

@keyframes loginAnimation{

0%{

opacity:0;

transform:
translateY(50px)
scale(.95);

}

100%{

opacity:1;

transform:
translateY(0)
scale(1);

}

    }
